.nav-bar {
  height: 8%;
  width: 100%;
  background-color: #000d14;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul, .nav-bar, li, a {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  color: White;
  font-weight: bold;
}

.header {
  margin: 0;
  padding: 0;
  display: inline;
}

.nav-img {
  height: 3rem;
  width: 3rem;
}

a:hover {
  color: #ffbf00;
}

a {
  font-size: 0.6rem;
}
