.inventory-container {
  display: grid;
  grid-template-areas: 'inventory-item-1 inventory-item-2 inventory-item-3 inventory-item-4';
  grid-template-rows: 4rem;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  grid-gap: 1rem;
  background-color: Black;
  border: 1px solid Turquoise;
  padding: 1rem;
  height: 4rem;
  width: 19rem;
}

.inventory-item-1 {
  grid-area: inventory-item-1;
}

.inventory-item-2 {
  grid-area: inventory-item-2;
}

.inventory-item-3 {
  grid-area: inventory-item-3;
}

.inventory-item-4 {
  grid-area: inventory-item-4;
}

.item-count {
  background-color: White;
  border-radius: 5rem;
  width: 1.5rem;
  text-align: center;
  margin-left: 2.1rem;
  margin-top: 0.5rem;
  z-index: 1;
  position: fixed;
}

.inventory-item-1, .inventory-item-2, .inventory-item-3, .inventory-item-4 {
  border: 1px solid Turquoise;
  border-radius: 2px;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  position: relative;
}
