.inventory-container {
  display: grid;
  grid-template-areas: 'inventory-item-1 inventory-item-2 inventory-item-3 inventory-item-4';
  grid-template-rows: 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
  background-color: Black;
  border: 1px solid Turquoise;
  padding: 20px;
  height: 100px;
  width: 430px;
}

.inventory-item-1 {
  grid-area: inventory-item-1;
  border: 1px solid Turquoise;
  border-radius: 2px;
}

.inventory-item-2 {
  grid-area: inventory-item-2;
  border: 1px solid Turquoise;
  border-radius: 2px;
}

.inventory-item-3 {
  grid-area: inventory-item-3;
  border: 1px solid Turquoise;
  border-radius: 2px;
}

.inventory-item-4 {
  grid-area: inventory-item-4;
  border: 1px solid Turquoise;
  border-radius: 2px;
}
