.window {
  background-color: White;
  height: 26rem;
  width: 40rem;
  display: grid;
  grid-template-areas: 'banner'
                       'montgomery'
                       'guide';
  grid-gap: 0.5rem;
  grid-template-rows: 4rem 12rem 10rem;
  border-radius: 5px;
}

.banner {
  grid-area: 'banner';
  border-bottom: 1px solid LightGray;
  align-items: center;
}

.montgomery {
  grid-area: 'montgomery';
}

.guide {
  display: grid;
  grid-template-areas: 'text'
                       'next';
  grid-template-rows: 0.6rem 5rem;
  grid-area: 'guide';
  border-top: 1px solid LightGray;
}

.text {
  grid-area: 'text';
  margin-top: 2rem;
}

.text p {
  font-family: 'Monkey Island 1990', monospace;
  font-size: 0.5rem;
  margin: 0 auto;
}

.next {
  grid-area: 'next';
  margin-top: 3rem;
}

h2 {
  margin: 0 auto;
  font-size: 1.5rem;
}

.banner, .text, .next {
  display: flex;
  justify-content: center;
}
