table {
  background-color: White;
  padding: 0.5rem;
  width: 20rem;
}

thead {
  background-color: #173e51;
  color: White;
}

tr {
  margin: 10px 0;
}

td {
  text-align: center;
  border: 0.05rem solid #173e51;
}

.saved-game:hover {
  background-color: #ffbf00;
}
