.shop-grid {
  display: grid;
  grid-template-areas: 'shop-header'
                       'item-grid'
                       'item-details';
  grid-gap: 0.5rem;
  border: 1px solid White;
  height: 20rem;
  width: 20rem;
  background-color: #000d14;
}

.shop-header {
  grid-area: 'shop-header';
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: White;
}

.item-grid {
  grid-area: 'item-grid';
  display: grid;
  grid-template-areas: 'item-1 item-2 item-3 item-4';
  grid-gap: 0.5rem;
  background-color: Black;
}

#item-1 {
  grid-area: 'item-1';
}
#item-2 {
  grid-area: 'item-2';
}
#item-3 {
  grid-area: 'item-3';
}
#item-4 {
  grid-area: 'item-4';
}

.inv-mg {
  border: 1px solid White;
  padding: 10rem;
}

#item-1, #item-2, #item-3, #item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.item-details {
  grid-area: 'item-details';
  color: White;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
